@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  min-height: 100%;
  background-color: #282D35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  height: 91px;
  padding: 0 80px;
}

.navbar--title {
  color: #DEEBF8;
  font-weight: 600;
  font-size: 16px;
}

.navbar--logo {
  display: flex;
  align-items: center;
}

.navbar--logo_img {
  margin-right: 7px;
  width: 29px;
  height: auto;
}

.navbar--logo_text {
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.maincontent {
  color: #fff;
  padding: 55px 80px;
  background-image: url('./images/react-logo-bg.png');
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: right 85%;
}

.maincontent--header {
  margin: 0;
  font-size: 40px;
  letter-spacing: -.05em;
}

.maincontent--list {
  margin-top: 46px;
}

.maincontent--list li {
  padding-bottom: 20px;
}

.maincontent--list li::marker {
  font-size: 1.5rem;
  color: #61DAFB;
}